section {
    display: flex;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}

.menu-playlist {
    background-color: black;
    color: rgb(168, 168, 168);
    /* padding: 2rem; */
}

.menu {
    flex-direction: column;
}

.line {
    border: 0.3px solid rgb(168, 168, 168);
}

ul > li {
    list-style-type: none;
}